@media (max-width: 480px) {
  .ch {
    font-size: 2rem;
  }

  .cp {
    font-size: 0.8rem;
  }
  .top-text {
    font-size: 10px;
    width: 100%;
    margin-bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .play-img {
    width: 5%;
    height: 5%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .ch {
    font-size: 1.5rem;
  }
  .cp {
    font-size: 1rem;
  }
  .container-lg {
    max-width: none;
  }
  .top-text {
    font-size: 15px;
    width: 100%;
    margin-bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .play-img {
    width: 10%;
    height: 10%;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  .ch {
    font-size: 2rem;
  }
  .cp {
    font-size: 1rem;
  }
  .container-lg {
    max-width: none;
  }

  .row1 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .column1 {
    margin-bottom: 2rem;
  }
  .top-text {
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .play-img {
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1280px) {
  .ch {
    font-size: 3rem;
  }
  .cp {
    font-size: 2rem;
  }

  .image-row {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .col {
    width: 75%;
    align-items: center;
  }

  .top-text {
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 0;
  }
  .row1 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .column1 {
    margin-bottom: 2rem;
  }
  .play-img {
    width: 10%;
    height: 10%;
  }

  /* .card {
    width: 100%;
    height: 100%;
    margin: auto;
  } */
}

@media (min-width: 0px) and (max-width: 480px) {
  .quote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 18px;
    line-height: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 760px) {
  .quote {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    font-size: 25px;
    line-height: 3rem;
  }
}

@media (max-width: 600px) {
  .imgg-c,
  .ca-c {
    padding: 0px 0px;
  }

  .ca-b {
    font-size: 1rem;
    padding: 20px 10px 20px 10px;
  }
}

@media (max-width: 360px) {
  .navbar-text {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
